body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4CAF50, #0073b1);
    color: white;
    padding: 20px;
    text-align: center;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.hero-image {
    margin-right: 30px; /* Space between image and content */
}

.hero-image img {
    width: 250px; /* Adjust width for bigger profile picture */
    height: 350px; /* Vertical rectangle shape */
    border-radius: 8px; /* No border radius to make it rectangular */
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-content {
    max-width: 500px;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero-content li {
    font-size: 1 rem;
    margin-bottom: 20px;
    text-align: left;
}

.hero-content a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

.hero-content a:hover {
    background-color: white;
    color: #0073b1;
}

/* Contact Section */
.contact-section {
    padding: 50px 20px;
    background: #f9f9f9;
}

.contact-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-section p {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 10px;
}

.contact-section a {
    color: #0073b1;
    text-decoration: none;
    font-weight: bold;
}

.contact-section a:hover {
    text-decoration: underline;
}

/* Footer */
.footer {
    text-align: center;
    padding: 10px;
    background: #ddd;
}

/* Section Animations */
.aos-animate {
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
